@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Maven Pro', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* globals.css or component-specific CSS */
@keyframes moveDots {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(50vw, 50vh);
  }
}



/* Keyframes for sliding animation */
@keyframes slideRight {
  0% { transform: translateX(0); }
  100% { transform: translateX(100%); }
}

/* Apply the sliding animation to each box */
/* Apply the sliding animation to each box in the first row */
.tech-stack-box {
  animation: slideRight 5s linear infinite;
}

/* Apply the sliding animation to each box in the second row */
.tech-stack-box2 {
  animation: slideLeft 5s linear infinite;
}

.scroll-container {
  overflow: hidden;
}

@keyframes slideLeft {
  0% {
    transform: translateX(100%);
    opacity: 0.5; /* Darken the starting side */
  }
  10%, 90% {
    opacity: 1; /* Fully visible during sliding */
  }
  100% {
    transform: translateX(-100%);
    opacity: 0.5; /* Darken the ending side */
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
    opacity: 0.5; /* Darken the starting side */
  }
  10%, 90% {
    opacity: 1; /* Fully visible during sliding */
  }
  100% {
    transform: translateX(100%);
    opacity: 0.5; /* Darken the ending side */
  }
}
